<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>Add/Substract Months From Date</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<style>
		.page {
			background-color:white;
			font-family: 'Kavivanar', cursive;
			font-size:100%;
			padding:20px;
			margin:auto;
		}
		input[type="submit"] { 
			background-color:white; 
			font-family: 'Kavivanar', cursive;
			color: solid black; 
			border: solid black 2px; 
			padding:15px;
		}
	</style>
	</head>
	<body class="page">
		<h2>Provide Following Inputs To Get Result of Operation</h2>
		<h3>Operation - Add/Substract Months From Date</h3>
		<form action="javascript:$('.result').append('<p> Result of Operation: '+ans+'</p>');" id="formphrase">
			<input type="hidden" name="type" value="4" readonly>
			Enter Date (YYYY-MM-DD): <input type="text" id="date"/>
			<br/><br/>
			Enter Months: <input type="text" id="months"/>
			<br/><br/>
			<select class="form-control" id="operation" name="operation">
              <option value="1">Add Months To Date</option>
              <br/><br/>
              <option value="2">Substract Months To Date</option>
            </select>
			<br/><br/>
			<input type="submit" value="Submit"/>
		</form>
		<script>
			$("#date").datepicker({dateFormat:'yy-mm-dd'});
			var ans;
			$(document).ready(function(){  
				$("form").submit(function(event) {
					$('.result').html("");
					var strdate=$('#date').val();
					var n=$('#months').val();
					var type=$('#operation').val();
					var date=new Date(strdate);
					(type==1) ? date.addMonths(n) : date.minusMonths(n);
			        ans=date.toUTCString();
	    		});
			});
			Date.prototype.addMonths=function(months) {
			    this.setMonth(this.getMonth()+parseInt(months));
			    return this;
			};
			Date.prototype.minusMonths=function(months) {
			    this.setMonth(this.getMonth()-parseInt(months));
			    return this;
			};
		</script>
		<br/>
		<div class="result">
		</div>
		<br/>
		<a href="index.ejs">Back To Menu</a>
	</body>
</html>